node_modules/
dist/

# Logs
logs
*.log
npm-debug.log*

# Mac / System
.DS_Store
Thumbs.db

# Extension build files
*.crx
*.pem

# Editor directories and files
.vscode/
.idea/
*.suo
*.sw?

# Fichiers temporaires
f